TELEGRAM_BOT_TOKEN="SUTITUYE POR EL TUYO"
TELEGRAM_ADMIN_IDS="TU_ID_AQUI"
TELEGRAM_VIP_IDS="8748973337,8664338870,8632266666" # Incluye a Inma
GROQ_API_KEY="SUTITUYE POR EL TUYO"
OPENROUTER_API_KEY="SUTITUYE POR EL TUYO"
OPENROUTER_MODEL="openrouter/free"
DB_PATH="./memory.db"
GOOGLE_APPLICATION_CREDENTIALS="./service-account.json"
ELEVENLABS_API_KEY="SUTITUYE POR EL TUYO"
ELEVENLABS_VOICE_ID="21m00Tcm4lPqW24C5nsT" # Voz por defecto (Rachel)
